.palette-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  max-width: 420px;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
  margin: 0 auto;
}


.palette-square {
  background-color: rgb(var(--color));
  border-radius: 8px;
  border: 2px solid black;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.palette-square:hover {
  transform: scale(1.05);
}